include README.md
include LICENSE
include CHANGELOG.md
include egi-check-in-validator.spec
include bin/egi-check-in-validator.py
include example-egi-check-in-validator.ini
recursive-exclude bin *.pyc *.pyo